<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;" >
            <img class="card-img-top" src="{{user_detail.avatar_url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user_detail.login}}</h5>
              <p class="card-text">{{user_detail.updated_at}}</p>
              <a href="{{user_detail.followers_url}}" class="btn btn-primary">Followers List</a>
            </div>
          </div>
    </div>
  </div>
</div>

